<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/product.css" />
</head>
<body>

<div class="sidebar">
  <div class="profile">
    <span class="owner">DateApp</span>
    <span class="roll"></span>
  </div>
  <ul class="nav">
    <li class=active>
      <form action="/main" method="post">
        <button type="submit" class="abt">Home</button>
      </form>
      
    </li>
    <li class=active>
      <form action="/matchm" method="post">
        <button type="submit" class="abt">Matches</button>
      </form>
      
    </li>
    <li class=active>
      <form action="/hom" method="post">
        <button type="submit" class="abt">Dashboard</button>
      </form>
      
    </li>

    <li class="btmn">
      <form action="/logout" method="post">
        <button type="submit" class="btt">Logout</button>
      </form>
    </li>
  </ul>
</div>

<button class="toggle-button">
  <i class="fa fa-bars"></i>
  <i class="fa fa-arrows-alt"></i>
</button>

<!-- Usual html, responsive -->
<article>
  <div class="container">
   
   
      <div class="card">



        <% herInfos.forEach(function(itemsz) { %>
          
          <div class="crs">
            <input type="radio" name="Carrusel" id="Slider1" checked>
            <input type="radio" name="Carrusel" id="Slider2">
            <input type="radio" name="Carrusel" id="Slider3">
            <div class="Carrusels">
  
              <img class="Carrusel" src="<%= itemsz.pict %>">

              <% itemsz.pics.forEach(function(items) { %>
                <img class="Carrusel" src="<%= items %> ">
                <% }) %>
  
              <label for="Slider3" class="ArrowLeft Arrow1"><p>❮</p></label>
              <label for="Slider1" class="ArrowLeft Arrow2"><p>❮</p></label>
              <label for="Slider2" class="ArrowLeft Arrow3"><p>❮</p></label>
              
              <label for="Slider2" class="ArrowRight Arrow1"><p>❯</p></label> 
              <label for="Slider3" class="ArrowRight Arrow2"><p>❯</p></label>
              <label for="Slider1" class="ArrowRight Arrow3"><p>❯</p></label>
            </div>
          </div>

      
  

          <ul class="card__info">
            <li>
              <span class="card__info__stats">Age</span>
              <span><%= itemsz.age %></span>
            </li>
            <li>
              <span class="card__info__stats">Location</span>
              <span><%= itemsz.location %></span>
            </li>
            <li>
              <span class="card__info__stats">Gender</span>
              <span><%= itemsz.gender %></span>
            </li>
          </ul>
        <div class="card__text">
          <h2><%= itemsz.name %></h2>
          <p><%= itemsz.bio %></p>
          <h2>Interests</h2>
          <p><%= itemsz.interests %></p>
        </div>

        <div class="card__action">

          <form action="/dislike" method="POST">
            <button type="submit" class="card__action__button card__action--message" name="rejc" value="<%= itemsz._id %>" onchange="this.form.submit()"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
          </form>

          <form action="/z" method="POST">
            <button type="submit" class="card__action__button card__action--follow" name="addT" value="<%= itemsz._id %>" onchange="this.form.submit()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        </form>
          
          
        </div>

        <% }) %>
      </div>



  
  </div>
  
</article>

  



   
  




  <script>


    
    



    $(".toggle-button").on("click", function(){
      $(".sidebar").toggleClass("active")
      if ($(".sidebar").hasClass("active"))
        {
          $("body").addClass("non-margin")
        } else {
          $("body").removeClass("non-margin")
        }
    })



  </script>

    </body>
</html>


