
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/mcards.css" />
</head>

<body>


<h1 style="text-align: center;">Matches</h1>

<div class="container">
  <% matchInf.forEach(function(items) { %>

    <div class="wrapper">
      <div class="img-area">
        <div class="inner-area">
          <img src="<%= items.pict %>" alt="">
        </div>
      </div>
  
      <div class="name"><%= items.name %> </div>
      <div class="about">
        <%= items.bio %>
   </div>
   <table>
    <tr>
      <th>
        <%= items.age %>
      </th>
      <th>
        <%= items.gender %>
      </th> 
      <th>
        <%= items.location %>
      </th>
    </tr>
  </table>
      <div class="buttons">
        <button>Message</button>
        <button>View Profile</button>
      </div>
  
    </div>

 <% }) %>

</div>


</body>

</html>